.gitsecret/keys/random_seed
!*.secret
backend/k8s/overlays/stg/database.secrets.env
backend/k8s/overlays/prd/database.secrets.env

butler
butler.zip
7z.so
libc7zip.so

Makefile.env
kubeconfig.yml
backend/k8s/overlays/prd/dashboard.secrets.envbackend/k8s/overlays/stg/dashboard.secrets.env