$kbd-gutter: 0.5vw;
$key-width: 8vw; // 100/12 ~ 8.3

.hg-theme-default {
  /* keyboard placement */

  position: absolute;
  bottom: 0;

  /* keyboard sizing */

  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: min(40vh, 6 * $key-width);

  /* rows layout */

  .hg-rows {
    height: 100%;
    display: grid;
    grid-auto-rows: 1fr;
    // grid-row-gap: $kbd-gutter;
  }

  /* keys layout */

  .hg-row {
    display: grid;
    grid-auto-flow: column;
    // grid-column-gap: $kbd-gutter;
    &:nth-child(1) {
      grid-template-columns: repeat(11, $key-width) 1fr;
    }
    &:nth-child(2) {
      padding-left: 0.666 * $key-width;
      grid-template-columns: repeat(11, $key-width);
    }
    &:nth-child(3) {
      grid-template-columns: 2.333 * $key-width repeat(8, $key-width) 1fr;
      & > :nth-child(1), & > :nth-child(2) {
        display: none;
      }
    }
  }

  /* gutters */

  padding: 0.5 * $kbd-gutter;
  .hg-button {
    margin: 0.5 * $kbd-gutter;
  }

  /* keycaps */

  .hg-button {
    font-family: "Cousine", monospace;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 8px black;
    font-size: max(0.4 * $key-width, 20px);
    span {
      line-height: 0;
    }

    border-radius: 0.125 * $key-width;
    background: #fff4;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.hg-activeButton {
      background: lightyellow;
      &[data-skbtn="{backspace}"] {
        background-color: lightcoral;
      }
      &[data-skbtn="{space}"] {
        background-color: lightblue;
      }
      &[data-skbtn="{enter}"] {
        background-color: lightgreen;
      }
    }
  }

  /* interaction */

  user-select: none;
  touch-action: manipulation;

  .hg-button {
    cursor: pointer;
    span {
      pointer-events: none;
    }
  }
}
